body
{
	background-color: yellow;
	color: blue;
	text-align: center;
	border: 2px solid blue


}

h1
{
	color: red;
	font-size: 300%;
}
p
{
	color: green;
	text-align: center;
	margin: 50px
}
button
{
	background-color: blue;
	color: white;
	font-size: 120%;
}
td,th,table
{
	border: 1px solid blue;
	padding : 15px;
	
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black
}
li a
{
	float: left;
}
li a 
{
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
li a : hover 
{
	background-color: #111111
}
